#header_wrap {
  background: #000000;
  margin: auto;
}

#header_wrap .inner {
  padding: 60px;
  margin: auto;
}
#main_content {
  padding-top: 20px;
  margin: auto;
}
.inner2 {
  position: relative;
  max-width: 1000px;
}


.outer {
  width: 100%;
  padding: 0 10px;
  color: #ffffff;
}

.inner {
  position: relative;
  max-width: 1000px;
  padding: 20px 10px;
  margin: 0 auto;
}

.container {
  float: left;
  position: relative;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 250px;
  height: 200px;
  background: rgba(0, 0, 0, 1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.title {
  position: relative;
  width: 250px;
  left: 0;
  top: 0px;
  bottom: 0px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: white;
  z-index: 1;
  transition: top .5s ease;


  font-size: 32px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.PINT_title {
  position: relative;
  width: 1000px;
  left: 0;
  margin-top: 0px;
  font-weight: 700;
  font-size: 30px;
  text-align: left;
  color: black;
  z-index: 1;
  transition: top .5s ease;
    font-size: 42px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.PINT_desc {
  position: relative;
  max-width:1000px;
  width: 1000px;
  left: 0;
  margin-top: 250px;
  font-weight: 700;
  font-size: 30px;
  text-align: left;
  color: black;
  z-index: 1;
  transition: top .5s ease;
    font-size: 28px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.article {
  position: relative;
  max-width:1000px;
  width: 1000px;
  left: 0;
  margin-top: 20px;
  font-weight: 570;
  text-align: left
  color: black;
  z-index: 1;
    font-size: 16px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.container:hover .title {
  top: -30px;
}

.button {
  position: relative;
  width: 220px;
  left:0;
  top: 0px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
    font-size: 18px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.button a {
  width: 150px;
  padding: 7px 30px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.container:hover .button {
  opacity: 1;
}

#pint_title_header{
  font-family: "Roboto", Helvetica, Arial, sans-serif;
font-size:36px;
  max-width: 700px;
   line-height: 2.0;
  text-align:center;
  margin: auto;
}
#pint_head {
    max-width: 1000px;
    font-size:28px;
}
footer p {
  color: #f2f2f2;
}
#footer_wrap {
  background: #000000;
  text-align:center;
}

#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 20px 10px 50px;
  color: #fff;
  background: url('../images/blacktocat.svg') #0090ff no-repeat 8% 50%;
  background-size: 25px;
  font-weight: 700;
  border: none;
}

#forkme_banner:hover {
  background-color: #1883ed;
}

a {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px dotted #666;
  color: inherit;
  text-shadow: none;
}

img {
    display: block;
    margin: 0 auto;
}
 
