---
---

@import "{{ site.theme }}";

img {
    display: block;
    margin: auto;
}
.inner2 {
  position: relative;
  max-width: 900px;
  padding: 20px 10px;
  margin: 0 auto;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
		font-size:20px;
		padding: 0 100px;
	}

#project_tagline {
  color: #fff;
  font-size: 28px;
  font-weight: 300;
  background: none;
  max-width: 980px;
}
