---
---

@import "{{ site.theme }}";

img {
    display: block;
    margin: auto;
}

.left {
    position: absolute;
    left: 0px;
    width: 300px;
}
.right {
    position: absolute;
    right: 0px;
    width: 1000px;
}
